{% extends 'base_auth.html' %}
{% load static %}
{% block content %}

<style>
    .auth-form{
        margin-left:14px;
    }
    .errorlist > li{
        color:red;
        list-style:none;
    }
</style>


<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto fw-bolder">
                               
                                <span class="d-none d-lg-block">Presento</span>
                            </a>
                        </div><!-- End Logo -->


                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h3 class="card-title text-center pb-0 fs-4 fw-bolder">Presento</h5>
                                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                    <p class="text-center small">Enter your personal details to create account</p>
                                </div>

                                <form class="row auth-form" method="POST" action="{% url 'accounts:signup' %}">
                                    {% csrf_token %}
                                    {{form.as_p}}
                                    
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit" id="submitbtn">Create
                                            Account</button>
                                    </div>
                                    <div class="col-12 text-center">
                                        <p class="small mb-0">Already have an account? <a href="{% url 'accounts:login' %}">Log
                                                in</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->

{% endblock content %}