{% extends 'base.html' %} {% block content %}
<main id="main">
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Update Profile</h2>
        <ol>
          <li><a href="{% url 'articles:home' %}">Home</a></li>
          <li>Update Profile for {{request.user.full_name}}</li>
        </ol>
      </div>
    </div>
  </section>
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">
      <form
        action="{% url 'profiles:update-profile' request.user.profile.slug %}"
        class="form-group"
        method="POST"
        enctype="multipart/form-data"
      >
        {% csrf_token %} {{form.as_p}}
        <div class="container d-flex justify-content-center">
          <button class="btn btn-success mx-auto btn-block">
            Update Profile
          </button>
        </div>
      </form>
    </div>
  </section>
</main>
{% endblock content %}
